# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/gioele/subdomains/newggv"
PassengerBaseURI "/"
PassengerNodejs "/home/gioele/nodevenv/subdomains/newggv/12/bin/node"
PassengerAppType node
PassengerStartupFile dist/index.js
PassengerAppLogFile "/home/gioele/newggv.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
